[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"

[packages]
fastapi = "*"
uvicorn = "*"
python-decouple = "*"
motor = "*"

[requires]
python_version = "3"
